{% extends 'base.html' %}

{% block title %} | Help and FAQ{% endblock %}

{% block content %}
<div class="image-aboutus-banner">
        <div class="container">
         <div class="row">
             <div class="col-md-12">
              <h1 class="lg-text">Help & FAQ</h1>
              <p class="image-aboutus-para">Need more information? Read our FAQ.</p>
            </div>
         </div>
     </div>
     </div>
     <section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
            <div class="container faq">
                <h3 class="titlename">General Questions </h3>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default">
                    <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
                      <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
                            Is account registration required?</a>
                      </h3>
                    </div>
                    <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
                      <div class="panel-body px-3 mb-4">
                        <p> Account registration is not required to search and view listings. It is only required when contacting a seller and when creating your own listing. </p>
                        <p> We suggest creating an account as it allows you to view and edit your own listings and manage your profile.</p> 
                    </div>
                    </div>
                  </div>
                  
                  <div class="panel panel-default">
                    <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
                      <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                          How do I edit my listing?
                        </a>
                      </h3>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                      <div class="panel-body px-3 mb-4">
                        <p>Log in. Click on your name in the navigation bar and go to my listings. There, you can edit or delete your listing. </p>
                      </div>
                    </div>
                  </div>
                  
                  <div class="panel panel-default">
                    <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                      <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                          How do I edit my profile?
                        </a>
                      </h3>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                      <div class="panel-body px-3 mb-4">
                        <p>Log in. Click on your name in the navigation bar and go to edit profile.</p>
                      </div>
                    </div>
                  </div>
                  
                <h3 class="titlename">Renting </h3>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default">
                    <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
                      <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                            I need sports equipment right now. How do I find it?
                        </a>
                      </h3>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                      <div class="panel-body px-3 mb-4">
                        <p>Just go to the homepage and search for the sports equipment you are looking for. If it is currently available, we will display the listing and then you are welcome to contact the lister. </p>
                      </div>
                    </div>
                  </div>
                  
                  <div class="panel panel-default">
                    <div class="panel-heading p-3 mb-3" role="tab" id="heading4">
                      <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
                         If I searched and there is no equipment available, what should I do?
                        </a>
                      </h3>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                      <div class="panel-body px-3 mb-4">
                        <p>We might not have equipment listed in your search area yet so try again at a later time.
                           Try broadening your search. Also try clearing filters. </p>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                        <div class="panel-heading p-3 mb-3" role="tab" id="heading5">
                          <h3 class="panel-title">
                            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapse5">
                             What does subscribe do?
                            </a>
                          </h3>
                        </div>
                        <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                          <div class="panel-body px-3 mb-4">
                            <p> It sends you an email when an equipment becomes available!</p>
                          </div>
                        </div>
                      </div>
                  
                  <div class="panel panel-default">
                    <div class="panel-heading p-3 mb-3" role="tab" id="heading6">
                      <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="true" aria-controls="collapse6">
                         Can I request more than one equipment at once? </a>
                      </h3>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
                      <div class="panel-body px-3 mb-4">
                          <p> Yes. In fact, we recommend that Renters request multiple equipment at a time in order to get a quick response. Sometimes, Listers don’t have time to respond right away, so requesting multiple equipment will help you find one when you need it.</p>
                      </div>
                    </div>
                  </div>
                  
                  <div class="panel panel-default">
                    <div class="panel-heading p-3 mb-3" role="tab" id="heading7">
                      <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="true" aria-controls="collapse7">
                         What do I do if the Lister doesn't respond?
                    </a>
                      </h3>
                    </div>
                    <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
                      <div class="panel-body px-3 mb-4">
                        <p> A big priority for us right now is to create efficient communication between the lister and the person renting. Of course, we realize that things come up. Listers can be on vacation, away from WIFI, or unable to respond due to their regular day job needs. Once again, we recommend that those renting request multiple equipment at a time in order to increase the chances of finding one that works. </p>
                      </div>
                    </div>
                  </div>
                </div>

                <h3 class="titlename">Listing </h3>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default">
                    <div class="panel-heading p-3 mb-3" role="tab" id="heading8">
                      <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="true" aria-controls="collapse8">
                            Does it cost me anything to create a listing ?
                        </a>
                      </h3>
                    </div>
                    <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
                      <div class="panel-body px-3 mb-4">
                        <p>Nope! You can list as many items as you like, free of charge! </p>
                      </div>
                    </div>
                  </div>
                  
                  <div class="panel panel-default">
                    <div class="panel-heading p-3 mb-3" role="tab" id="heading9">
                      <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="true" aria-controls="collapse9">
                          What if I can rent my equipment out certain days?
                        </a>
                      </h3>
                    </div>
                    <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
                      <div class="panel-body px-3 mb-4">
                        <p>No problem! Just go on your listings page and mark unavailable! Your post will be hidding from public.</p>
                      </div>
                    </div>
                  </div>
                  
                  <div class="panel panel-default">
                    <div class="panel-heading p-3 mb-3" role="tab" id="heading10">
                      <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="true" aria-controls="collapse10">
                        What if my equipments gets damaged while rented?

                        </a>
                      </h3>
                    </div>
                    <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
                      <div class="panel-body px-3 mb-4">
                        <p> All damage and personal injury is the responsibility of the Lister during the reservation. ReginasRecreationalRentables is not accountable. Loan equipment at your own risk. </p>
                      </div>
                    </div>
                  </div>
                  
                  <div class="panel panel-default">
                    <div class="panel-heading p-3 mb-3" role="tab" id="heading11">
                      <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="true" aria-controls="collapse11">
                            Can I list my equipment for sale on ReginasRecreationalRentables?

                        </a>
                      </h3>
                    </div>
                    <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11">
                      <div class="panel-body px-3 mb-4">
                        <p>Unfortunately, we don’t allow sales on ReginasRecreationalRentables. Currently, we are focused on renting sports equipment. </p>
                      </div>
                    </div>
                  </div>
                </div>
                
            
            </div>
          </section>

{% endblock %}