{% extends 'base.html' %}
{% load static %}

{% block title %} | Edit {{ title }} {% endblock %}

{% block content %}
{% include 'partials/_alerts.html' %}
<div class="container-fluid">
	<div class="d-flex justify-content-center h-100">
		<div class="col-md-4 mx-auto">
			<div class="card">
				<div class="card-header">
					<h3 class="text-center"> EDIT LISTING </h3>
				</div>
				<div class="card-body create-body">
					<form method="POST" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="form-group">
							<label for="title">Title</label>
							<input type="text" name="title" value="{{ title }}" class="form-control" required>
						</div>

                        <div class="form-group">
							<label for="description">Description</label>
                            <textarea name="description" class="form-control" rows="4" cols="15" required>{{ description }}</textarea>
                        </div>

						<div class="form-group">
							<label for="daily_price">Daily Price</label>
							<input type="number" name="daily_price" value = "{{ daily_price }}" class="form-control" required>
						</div>

						<div class="form-group">
							<label for="location">Location</label><br />
                            {% if location == 0 %}
                            <input type="radio" name="location" value="0" checked><span> North Regina</span><br />
                            {% else %} 
                            <input type="radio" name="location" value="0"><span> North Regina</span><br />
                            {% endif %}  
                                                  
                            {% if location == 1 %}
                            <input type="radio" name="location" value="1" checked><span> South Regina</span><br />
                            {% else %} 
                            <input type="radio" name="location" value="1"><span> South Regina</span><br />
                            {% endif %}  

                            {% if location == 2 %}
                            <input type="radio" name="location" value="2" checked><span> East Regina</span><br />
                            {% else %} 
                            <input type="radio" name="location" value="2"><span> East Regina</span><br />
                            {% endif %} 

                            {% if location == 3 %}
                            <input type="radio" name="location" value="3" checked><span> West Regina</span><br />
                            {% else %} 
                            <input type="radio" name="location" value="3"><span> West Regina</span><br />
                            {% endif %}

                        </div>
						<div class="form-group">
							<label for="photo_1"> Upload a photo </label>
                        </div>

						<div class="form-group">
                            <span>{{ form.photo_1 }}</span>
                            {% if photo_1 %}
                            <div class = "updatingimg"> Current Image </div>
                            <p><img src="{{ photo_1.url }}" class="smallthumbs"></p>
                            {% endif %}
                    	</div>

						<div class="form-group">
                            <span>{{ form.photo_2 }}</span>
                            {% if photo_2 %}
                            <div class = "updatingimg"> Current Image </div>
                            <p><img src="{{ photo_2.url }}" class="smallthumbs"></p>
                            {% endif %}
						</div>

						<div class="form-group">
                            <span>{{ form.photo_3 }}</span>
                            {% if photo_3 %}
                            <div class = "updatingimg"> Current Image </div>
                            <p><img src="{{ photo_3.url }}" class="smallthumbs"></p>
                            {% endif %}
						</div>

						<div class="form-group">
                            <span>{{ form.photo_4 }}</span>
                            {% if photo_4 %}
                            <div class = "updatingimg"> Current Image </div>
                            <p><img src="{{ photo_4.url }}" class="smallthumbs"></p>
                            {% endif %}
						</div>

						<div class="form-group">
                            <span>{{ form.photo_5 }}</span>
                            {% if photo_5 %}
                            <div class = "updatingimg"> Current Image </div>
                            <p><img src="{{ photo_5.url }}" class="smallthumbs"></p>
                            {% endif %}
						</div> 

						<input type="submit" value="Submit" class="btn btn-secondary btn-block" />
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</section>




{% endblock %}